$primary-color: #ff8400;
$secondary-color: #3c4190;
$transparent-white: rgba(255, 255, 255, 0.71);

#app
{
	overflow: visible !important;
}

html, body, #app
{
	height: 100%;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
}

.bg-cover
{
	background-size: cover !important;
}

.transparent-white
{
	background-color: $transparent-white;
}

.login-field .logo
{
	font-size: 4rem;
    line-height: 4.1rem;
}

input.form-control.login-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	text-align: center;
}

input.form-control.login-input::-moz-placeholder { /* Firefox 19+ */
	text-align: center;
}

input.form-control.login-input:-ms-input-placeholder { /* IE 10+ */
	text-align: center;
}

input.form-control.login-input:-moz-placeholder { /* Firefox 18- */
	text-align: center;
}

.btn.sign-up 
{
	text-transform: uppercase;
	border-radius: 0px;
	border-width: 0px;
	font-size: 1.5rem;
	color: white;
	padding: 0.85rem 1.75rem;
	background-color: #ff8400;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	    -webkit-box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
}

.btn.sign-up:hover, .btn.sign-up:focus
{
    -webkit-box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.3);
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.3);
}

.text-primary
{
	color: $primary-color !important;
}

.bg-primary
{
	background-color: $primary-color !important;
}

.bold-italic
{
	font-weight: 700;
	font-style: italic;
}
.bold{
	font-weight: 700;
}

.text-secondary
{
	color: $secondary-color !important;
}

.bg-secondary
{
	background-color: $secondary-color !important;
}

.category-holder
{
    padding-top: 108px;
}

.category-holder .card .card-title
{
    text-shadow: 0px 1px 3px black;
	font-weight: 400;
}

.category-holder .card
{
	border-width: 0px;
}

.category-holder .explore
{
	font-size: 1.25rem;
	padding: 0.75rem 1.35rem;
	font-weight: 400;
}
.box{
	position: relative;
	min-height: 150px;
}

.box .fa
{
	left: 50%;
	opacity: 0;
	bottom: 24%;
	color: white;
	font-size: 1.7rem;
	position: absolute;
	transform: translateX(-50%);
	transition: all ease-in 0.15s;
    text-shadow: 0px 1px 3px black;
}

.orange-overlay {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(255, 132, 0, 0.47058823529411764);
	height: 100%;
	width: 100%;
	transition: all ease-in 0.15s;
}

.box:hover .orange-overlay, .box:hover .fa,
.box.active .orange-overlay, .box.active .fa{
	opacity: 1;
}

.box h3{
	z-index: 10;
	font-weight: 400;
	font-size: 2.3rem;
    text-shadow: 0px 1px 3px black;
}

.category-holder .adaptive-height
{
	min-height: 80vh;
}

.category-holder .footer .btn.btn-secondary
{
	background-color: white !important;
	background: white !important;
	color: $secondary-color !important;
	border-width: 0 !important;
	outline: none !important;
	font-weight: 400;
}

.sidebar-overlay
{
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
    // background-color: rgba(60, 65, 144, 0.48);
    background-color: rgba(0, 0, 0, 0.57);
    z-index: 1040;
}

.sidebar
{
	position: fixed;
	left: 0;
	top:0;
	height: 100%;
	width: 280px;
    background-color: white;
    box-shadow: 0px 0px 3px #5b5b5b;
	margin-left: -290px;
	transition: all ease-in-out 0.3s;
    z-index: 1045;
}

.sidebar.show
{
	margin-left: 0px;
}

.container.adaptive-height.explorer
{
    padding-top: 110px;
	min-height: 80vh;
}

.bb-orange{
	border-bottom: 3px solid $primary-color; 
}

.sidebar .nav-link:focus, .nav-link:hover {
    text-decoration: none;
    background-color: #cfcfcf;
}

.sidebar .nav-link
{
	color: #343a40;
	font-weight: 400;
}

.sidebar .nav-item.active .nav-link {
	background-color: $primary-color;
	color: white;
}

.parallax-window {
	min-height: 45vh;
	background: transparent;
}

.small-input {
	height: 100%;
	border-right: 0px solid black; 
}

.featured-video
{
	height: 250px;
	width: 100%;
}

.z-depth-1
{
	-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.category-holder .footer .btn.btn-secondary:focus, .category-holder .footer .btn.btn-secondary.focus {
	outline: none !important;
    -webkit-box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
}

.z-depth-2 {
    -webkit-box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
}

.btn-o{
	background-color: #ff8400;
	color: white;
	letter-spacing: .2em;
}


.profile{
	background-color: #D3D3D3;
}

.name {
	font-size: 24px;
	color: #162d78;
}


.invested{
	background-color: #162d78;
	margin-bottom: 10px;
	color: #fff;
}

.invested-number{
	font-size: 40px;
}

.c-red{background-color: #F7464A;}
.c-dgray{background-color: #4D5360;}
.c-yellow{background-color: #FDB45C;}
.c-teal{background-color: #46BFBD;}
.c-lgray{background-color: #949FB1;}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.bg-contain{
	background-size: contain !important;
}

.img-circle{
	border-radius: 50% !important;
}
.modal-open .modal.modal-center {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}
.modal-open .modal.modal-center .modal-dialog {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}



@media (max-width: 767px)
{
	.box h3{
		z-index: 10;
		font-weight: 400;
		font-size: 1.5rem;
	}

	.login .logo-holder
	{
		width: 100%;
	}

	.category-holder .adaptive-height
	{
		min-height: 80vh;
	}

	.featured-video
	{
		height: 300px;
		width: 100%;
	}
	// .category-holder {
	//     padding-top: 160px;
	// }
}