<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>UB Express</title>
        <meta name="author" content="name">
        <meta name="description" content="description here">
        <meta name="keywords" content="keywords,here">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700i" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/css/public.css">
    </head>
    <body>
    	<div id="app">
            <!-- <transition name="fade">
                <start v-if="activePage == 'start'"
                    @setactivepage="setActivePage"
                ></start>
            </transition>
            <transition name="fade">
                <login v-if="activePage == 'login'"
                    @setactivepage="setActivePage"
                ></login>
            </transition> -->
            <transition name="fade">
                <profile-settings 
                    v-show="activePage == 'categories'"
                    :balance="balance"
                    :categories="categories"
                    :active-category="activeCategory"
                    @setactivepage="setActivePage"
                    @switchactivecategory="setActiveCategory"
                ></profile-settings>
            </transition>
            <transition name="fade">
                <explorer
                    v-show="activePage == 'explorer'"
                    :projects="projects"
                    @setactivepage="setActivePage"
                    @setexplorerindivpage="setExplorerPage"
                ></explorer>
            </transition>
            <transition name="fade">
                <individual-explorer 
                    v-if="Object.keys(explorerPage).length > 0 && activePage == 'explorer-indiv'"
                    @setactivepage="setActivePage"
                    :active-category-object="activeCategoryObject"
                    :explorer-page="explorerPage"
                ></individual-explorer>
            </transition>
            <transition name="fade">
                <profile 
                    v-show="activePage == 'profile'"
                    :balance="balance"
                ></profile>
            </transition>
            <!-- <explore-footer v-if="canShowFooter" @setactivepage="setActivePage"></explore-footer> -->
            <nav-sidebar
                v-show="canShowNavSidebar"
                :active-page="activePage"
                :title="title"
                @setactivepage="setActivePage"
            >
            </nav-sidebar>
    	</div>
    	<script src="/js/public.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/parallax.js/1.5.0/parallax.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
        <!-- Firebase -->
        <script src="https://gstatic.com/firebasejs/4.0.0/firebase.js"></script>
        <!-- VueFire -->
        <script src="https://unpkg.com/vuefire/dist/vuefire.js"></script>
        <script type="text/javascript">
            var firebaseApp = firebase.initializeApp({
                apiKey: "AIzaSyBnd5D1R51T2EPedXDbKeX7lBxtIcI183w",
                authDomain: "ubhackathon-fc4d6.firebaseapp.com",
                databaseURL: "https://ubhackathon-fc4d6.firebaseio.com",
                projectId: "ubhackathon-fc4d6",
                storageBucket: "",
                messagingSenderId: "307713390725"
              });

            var db = firebaseApp.database();
        </script>
    	<script type="text/javascript">
            window.socket = io();
			new Vue({
				el: '#app',
				data: {
                    activePage: 'categories',
                    balance: 0,
                    activeCategory: 'Environment',
                    explorerPage: {},
				},

                firebase: {
                    // // simple syntax, bind as an array by default
                    categories: db.ref('/categories'),
                    // // can also bind to a query
                    // // anArray: db.ref('url/to/my/collection').limitToLast(25)
                    // // full syntax
                    // anObject: {
                    //     source: db.ref('url/to/my/object'),
                    //     // optionally bind as an object
                    //     asObject: true,
                    //     // optionally provide the cancelCallback
                    //     cancelCallback: function () {},
                    //     // this is called once the data has been retrieved from firebase
                    //     readyCallback: function () {}
                    // }
                },

                computed: {
                    canShowNavSidebar: function() {
                        return  this.activePage == 'explorer'
                            || this.activePage == 'explorer-indiv'
                            || this.activePage == 'profile';
                    },

                    canShowFooter: function() {
                        return  this.activePage == 'categories'
                            || this.activePage == 'explorer'
                            || this.activePage == 'explorer-indiv'
                            || this.activePage == 'profile';
                    },

                    title: function () {
                        return 'UB Express';
                    },

                    projects() {
                        let activeCategory = this.activeCategoryObject;

                        if (!activeCategory) {
                            return {};
                        }

                        return activeCategory.projects ? activeCategory.projects : {} 
                    },

                    activeCategoryObject: function() {
                        return _.find(this.categories, function(cat) {
                            return cat.name == this.activeCategory;
                        }.bind(this))
                    }
                },

                mounted: function() {
                    Waves.init();
                    $('.sidebar-overlay').hide();

                    socket.emit('queryString', {
                        url: window.location.href,
                    });

                    window.history.pushState({}, 'Home', '/');

                    socket.on('authFinished', () => {
                        socket.emit('getBalance');
                    });                    

                    socket.on('balance', (balance) => {
                        this.balance = balance[0].amount;
                    });

                    // socket.on('invested', () => {
                    //     alert('invested!');
                    // });
                },
				
				methods: {
                    setActivePage: function (value) {
                        this.activePage = value;
                    },

                    setActiveCategory: function (value) {
                        this.activeCategory = value;
                    },

                    setExplorerPage: function (value) {
                        this.explorerPage = this.projects[value.key];
                    },
				}
			});
    	</script>
    </body>
</html>