<template>
    <div class="footer bg-secondary text-white text-center py-3">
        <p class="text-center">
            Select categories later?
            <br>
            Explore our popular projects
        </p>
        <button class="btn btn-secondary rounded-0 z-depth-1 waves-effect" @click="changePage('explorer')">
            Explore Popular
        </button>
    </div>
</template>

<script>
    export default {
        data() {
            return {
            };
        },
        
        methods: {
            changePage(value) {
                this.$emit('setactivepage', value);
            },
        },
    };
</script>