<template>
	<div class="container adaptive-height explorer pb-3">
        <div class="row">
            <div class="col-12 col-md-4" v-for="(project, index) in projects">
                <explorer-card 
                    @click.native="setActiveExplorerIndiv(project, index)"
                    :project="project"
                ></explorer-card>
            </div>
            <div class="col-12 text-center">
                <button class="btn bg-primary btn-block btn-lg rounded-0 text-white waves-effect waves-light text-uppercase">
                    See more Options
                </button>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            projects: {
                type: Object,
                required: true
            }
        },

        methods: {
            changePage(value) {
                this.$emit('setactivepage', value);
            },

            setActiveExplorerIndiv(project, index) {
                let newProject = project;
                newProject.key = index;
                this.$emit('setexplorerindivpage', newProject);
                this.changePage('explorer-indiv');
            }
        },
    };
</script>
