<template>
    <a href="#!" style="text-decoration: none !important;">
        <div class="card z-depth-2 rounded-0 mb-3">
            <div class="card-header">
                <h5 class="text-secondary">
                    <i class="fa fa-shopping-cart"></i>
                    &nbsp;
                    <span v-text="project.name"></span>
                </h5>
            </div>
            <img class="card-img-top rounded-0" :src="project.photo" />
            <div class="card-body">
                <div class="row">
                    <div class="col-6 text-center text-success">
                        <b>
                            <span class="fa fa-star-o"></span>&nbsp;<span v-text="project.total_invested"></span> Funded
                        </b>
                    </div>
                    <div class="col-6 text-center text-warning">
                        <b>
                            <span class="fa fa-check-circle-o"></span>&nbsp;<span v-text="project.impact_qty"></span> <span v-text="project.impact_name"></span>
                        </b>
                    </div>
                </div>
            </div>
        </div>
    </a>
</template>

<script>
    export default {
        props: {
            project: {
                type: Object,
                required: true
            }
        },

        data() {
            return {
            };
        },
        
        methods: {
            changePage(value) {
                this.$emit('setactivepage', value);
            },
        },
    };
</script>