<template>
	<div class="container adaptive-height explorer pb-3 pt-0">
        <div class="row">
            <div class="col-12 parallax-window bg-contain mb-4" :style="'background: url(' + explorerPage.photo + ') no-repeat center center; margin-top: 71px;'">
                
            </div>
            <div class="col-12">
                <h5 class="text-secondary mb-2" v-text="explorerPage.name"></h5>
                <div class="row">
                    <div class="col-6 text-success">
                            <span class="fa fa-star-o"></span>&nbsp;<span v-text="explorerPage.total_invested"></span> Raised
                    </div>
                    <div class="col-6">
                        <span class="fa fa-map-marker"></span>&nbsp;Quezon City
                    </div>
                    <div class="col-6 text-warning">
                        <span class="fa fa-check-circle-o"></span>&nbsp;<span v-text="explorerPage.impact_qty"></span> <span v-text="explorerPage.impact_name"></span>
                    </div>
                    <div class="col-6">
                        <span class="fa fa-shopping-cart"></span>&nbsp;Store
                    </div>
                </div>
                <div class="row py-3">
                    <div class="col">
                        <button class="btn bg-primary btn-block rounded-0 text-white waves-effect waves-light text-uppercase border-0" @click="openModal()">
                            Invest
                        </button>
                    </div>
                </div>
                <div class="row py-3">
                    <div class="col-12">
                        <p class="py-3">
                            There was girl from a poor family. They lived in a squatter area outside the subdivision. Her father already died, so, she was only living with her mother, whose sideline is doing the household chores in the subdivision, and four siblings that had stopped sending at school by their mother due to poverty. She was then an incoming college student.
                        </p>
                    </div>
                    <div class="col-12 mb-3">
                        <iframe class="featured-video" src="https://player.vimeo.com/video/185424812" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div class="col-12">
                        <h5 class="mb-2">
                            <b>
                                Investment Details
                            </b>
                        </h5>
                        <p>
                            The girl went to Manila. She found a work in a house. She was hired as a maid. (The owners, who were her bosses, were members of a religious organization. They had a male child, a grade 3 pupil) Almost all the time, she does the chores. That was very tiring for her.
                        </p>
                    </div>
                    <div class="col-12">
                        <h5 class="mb-3">
                            <b>
                                Investment Details
                            </b>
                        </h5>
                        <div class="row">
                            <div class="col-4 text-center">
                                <h5 class="text-center bold text-secondary"  v-text="explorerPage.total_investors"></h5>
                                <small>
                                    Investors
                                </small>
                            </div>
                            <div class="col-4 text-center">
                                <h5 class="text-center bold text-success"  v-text="explorerPage.total_invested"></h5>
                                <small>
                                    Raised
                                </small>
                            </div>
                            <div class="col-4 text-center">
                                <h5 class="text-center bold text-primary" v-text="explorerPage.impact_qty"></h5>
                                <small v-text="explorerPage.impact_name">
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row py-3">
                            <div class="col">
                                <button class="btn bg-primary btn-block rounded-0 text-white waves-effect waves-light text-uppercase border-0" @click="openModal()">
                                    Invest
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal modal-center fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel" v-text="investmentHeader"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div v-show="! invested">
                            <div class="form-group">
                                <input class="form-control rounded-0" type="text" v-model="investment">
                            </div>
                            <button class="btn bg-primary btn-block rounded-0 text-white waves-effect waves-light text-uppercase border-0" @click="invest">Confirm</button>
                        </div>
                        <div v-show="invested">
                            Thank you for investing!
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            explorerPage: {
                type: Object,
                required: true,
            },

            activeCategoryObject: {
                type: Object,
                required: true,
            },
        },

        data() {
            return {
                investment: 500,
                invested: false,
            };
        },

        computed: {
            investmentHeader() {
                return this.invested ? 'Investment Confirmed' : 'Confirm Investment';
            },
        },

        methods: {
        	changePage(value) {
        		this.$emit('setactivepage', value);
        	},

            openModal() {
                $('#myModal').modal('show');
            },

            invest() {
                socket.emit('invest', {
                    particulars: 'Aling Nena\'s Sari Sari Store',
                    amount: this.investment,
                });
                console.log(this.explorerPage.key);
                db.ref('categories/'+ this.activeCategoryObject['.key'] + '/projects').child(this.explorerPage['key']).update({
                        'total_investors': this.explorerPage.total_investors + 1 ,
                        'total_invested': parseFloat(this.explorerPage.total_invested) + parseFloat(this.investment)
                    }).then((data) => {
                        let updatedProjectObject = this.activeCategoryObject.projects[this.explorerPage['key']];
                        
                        this.explorerPage.total_investors = updatedProjectObject.total_investors;
                        this.explorerPage.total_invested = updatedProjectObject.total_invested;
                    });

                

                // this.$firebaseRefs.categories.child(this.activeCategoryObject['.key']).child('projects').child(this.explorerPage['.key'])
                //     .update({
                //         'total_investors': this.explorerPage.total_investors++,
                //         'total_invested': this.explorerPage.total_invested + this.investment
                //     });
                // this.$firebaseRefs.categories.child(this.activeCategoryObject['.key']).set(item)

                this.invested = true;
            },
        },
    };
</script>
