<template>
	<div class="category-holder">
        <ul class="nav justify-content-center fixed-top bg-secondary py-3 z-depth-1">
          <li class="nav-item">
            <a class="nav-link active" href="#!"><img src="/images/logo_single.png" /></a>
          </li>
        </ul>
        <!-- <div class="container adaptive-height py-3">
            <div class="row">
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="card w-100 rounded-0 z-depth-2 text-white bg-cover waves-effect waves-light mb-2"  style="background: url('/images/bg.jpg') no-repeat center center;">
                        <div class="card-body">
                            <h4 class="card-title my-0 text-center">Card title</h4>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="card w-100 rounded-0 z-depth-2 text-white bg-cover waves-effect waves-light mb-2"  style="background: url('/images/bg.jpg') no-repeat center center;">
                        <div class="card-body">
                            <h4 class="card-title my-0 text-center">Card title</h4>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="card w-100 rounded-0 z-depth-2 text-white bg-cover waves-effect waves-light mb-2"  style="background: url('/images/bg.jpg') no-repeat center center;">
                        <div class="card-body">
                            <h4 class="card-title my-0 text-center">Card title</h4>
                        </div>
                    </div>
                </div>

                <div class="col-12 text-center">
                    <button class="btn sign-up explore waves-effect waves-light btn-block">
                        Start Investing
                    </button>
                </div>
            </div>
        </div> -->
    </div>
</template>

<script>
    export default {
        methods: {
        	changePage(page) {
        		this.$emit('setactivepage', page);
        	},
        },
    };
</script>
