<template>
	<div class="d-flex h-100 w-100 align-items-center login-field bg-cover" style="background: url('/images/bg2.jpg') fixed no-repeat center center;">
        <div class="col-10 container text-center">
            <div class="logo">
                <span class="text-primary bold-italic">UB</span><span class="text-white bold-italic">Ex</span>
            </div>
            <p class="text-center text-white">Smart impact investment</p>
              
            <div class="form-group row mb-3 pb-3">
                <div class="col-12 mb-1">
                    <input class="form-control rounded-0 mb-2 login-input" type="text" v-model="username" placeholder="User Name" id="uname">
                </div>
                <div class="col-12">
                    <input class="form-control rounded-0 login-input" v-model="password" placeholder="Password" type="password" id="pwd">                                  
                </div>
                
            </div>
            <button class="btn bg-primary btn-block btn-lg rounded-0 text-white waves-effect waves-light" @click="submit">SIGN IN </button>
        </div>
    </div> 
</template>

<script>
    export default {
        data() {
            return {
                username: '',
                password: '',
            };
        },
        
        methods: {
        	submit() {
        		this.$emit('setactivepage', 'categories');
        	},
        },
    };
</script>
