<template>
	<div>
        <ul class="nav justify-content-start fixed-top bg-secondary py-3 z-depth-1">
            <li class="nav-item col-2 pl-2">
                <a class="btn" href="#!" @click="toggleSidebar()">
                    <h3 class="fa fa-bars text-white"></h3>
                </a>
            </li>
            <li class="nav-item col-8 text-center">
                <a class="btn" href="#!">
                    <!-- <span class="text-white" v-text="title">
                        
                    </span> -->

                    <img src="/images/logo_single2.png" style="height: 27px;" />
                </a>
            </li>
            <li class="nav-item col-2">
                &nbsp;
            </li>
        </ul>

        <!-- always magkasama -->
        <div class="sidebar-overlay" @click="toggleSidebar()"></div>
        <div class="sidebar">
            <div class="col-12 bg-secondary text-white py-3 bb-orange">
                <div class="row">
                    <div class="col-5">
                        <img src="/images/juan.jpg" class="rounded img-circle img-fluid">
                    </div>
                    <div class="col d-flex align-items-center">
                        Juan dela Cruz
                    </div>
                </div>
            </div>
            <div class="mt-2">
                <ul class="nav flex-column">
                    <li class="nav-item" :class="activePage == 'profile' ? 'active' : ''">
                        <a class="nav-link" @click="changePage('profile')" href="#!">Profile</a>
                    </li>
                    <li class="nav-item" :class="activePage == 'explorer' ? 'active' : ''">
                        <a class="nav-link" @click="changePage('categories')" href="#!">Categories</a>
                    </li>
                    <!-- <li class="nav-item" :class="activePage == 'categories' ? 'active' : ''">
                        <a class="nav-link" @click="changePage('categories')" href="#!">Investments</a>
                    </li> -->
                    <!-- <li class="nav-item">
                        <a class="nav-link" @click="changePage('start')" href="#!">Logout</a>
                    </li> -->
                </ul>
            </div>
        </div>   
    </div>
</template>

<script>
    export default {
        props: {
            title: {
                type: String,
                default: 'Explore Investments',
            },

            activePage: {
                type: String,
                required: true,
            }
        },

        data() {
            return {
                isSidebarShown: false, 
            };
        },

        mounted() {
            Waves.init();
            $('.sidebar-overlay').hide();
        },

        watch: {
            isSidebarShown: function (newValue) {
                if (newValue) {
                    $('.sidebar-overlay').stop().fadeIn();
                    $('.sidebar').addClass('show');
                } else {
                    $('.sidebar-overlay').stop().fadeOut();
                    $('.sidebar').removeClass('show');
                }
            },
        },
        
        methods: {
            toggleSidebar: function() {
                this.isSidebarShown = ! this.isSidebarShown;
            },
            
            changePage(value) {
                this.$nextTick(() => {
                    this.toggleSidebar();
                });
                this.$emit('setactivepage', value);
            },
        },
    };
</script>
