<template>
	<div class="container adaptive-height explorer pb-3">
        <div class="container">
            <div class="row profile py-3">
                
                <div class="col-5 justify-content-center align-items-center d-flex">
                    <img src="/images/juan.jpg" class="img-fluid rounded  img-circle" alt="...">
                </div>

                <div class="col-7">
                    <div class="row mt-3 mb-4">
                        <div class="col-12 name">Juan dela Cruz</div>
                        <div class="col-12">Quezon City, Ph</div>
                        <div class="col-12">Investments: 5</div>
                    </div>
                </div>
            </div>                
        </div>
        <div class="chart container">
            <div class="row">
                <div class="col-12 text-center p-4">
                    Account Balance:
                    <span v-text="formattedBalance"></span>
                </div>
                <div class="col-12 text-center p-4">
                    Total Invested Amount:
                    <br/>Php 23,000
                </div>
                <div class="col-1"></div>
                <div class="col-10 d-flex justify-content-center align-items-center">
                    <canvas id="doughnutChart"></canvas>
                </div>
                <div class="col-12 text-center p-4">
                    Total Gain (Overall): 5% (1,150)
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="row col-10 offset-1 invested c-teal">
                    <div class="col-1 invested-number">1</div>
                    <div class="col-10 p-2">
                        <div class="col-12">SEDPI Micro Finance</div>
                        <div class="col-12">12 Microfinance institutions funded</div>
                        <div class="col-12">Gains: 20% (P10,452)</div>
                    </div>
                </div>
                <div class="row col-10 offset-1 invested c-red">
                    <div class="col-1 invested-number">2</div>
                    <div class="col-10 p-2">
                        <div class="col-12">Aling Nena Sari-Sari Store</div>
                        <div class="col-12">3 Nanays Employed</div>
                        <div class="col-12">Gains: 3% (P1,039)</div>
                    </div>
                </div>
                <div class="row col-10 offset-1 invested c-dgray">
                    <div class="col-1 invested-number">3</div>
                    <div class="col-10 p-2">
                        <div class="col-12">HabiFootWear Soc Ent</div>
                        <div class="col-12">4 Weavers Employed</div>
                        <div class="col-12">Gains: 2% (P519)</div>
                    </div>
                </div>
                <div class="row col-10 offset-1 invested c-yellow">
                    <div class="col-1 invested-number">4</div>
                    <div class="col-10 p-2">
                        <div class="col-12">Mang Lito's Palay Harvest</div>
                        <div class="col-12">6 Farmers Employed</div>
                        <div class="col-12">Losses: 3% (-P209)</div>
                    </div>
                </div>
                
                <div class="row col-10 offset-1 invested c-lgray">
                    <div class="col-1 invested-number">5</div>
                    <div class="col-10 p-2">
                        <div class="col-12">Rona's Barbecuehan</div>
                        <div class="col-12">2 teens supported</div>
                        <div class="col-12">Losses: 6% (-P423)</div>
                    </div>
                </div>

                <div class="col-12 pt-4">
                    <h5 class="text-primary text-center">
                        <b>
                            Economic vs Impact Ratio
                        </b>
                    </h5>
                    <div class="text-center text-secondary mb-4">
                        <b v-text="riskAppetite[riskAppetiteLevel - 1]"></b>
                    </div>
                    <range-slider 
                        class="w-100 slider"
                        min="1"
                        max="5"
                        v-model="riskAppetiteLevel"
                    ></range-slider>
                </div>
            </div>

        </div>
    </div>
</template>

<script>
    export default {
        props: {
            balance: {
                type: Number,
                default: 0,
            },
        },

        data() {
            return {
                riskAppetiteLevel: 3,
                riskAppetite: ['Economic Only', 'Economic Tendency', 'Balanced', 'Impact Tendency', 'Impact Only'],
            };
        },

        computed: {
            formattedBalance() {
                return this.balance.toLocaleString();
            },
        },

        mounted() {
            let ctxD = document.getElementById("doughnutChart").getContext('2d');
            let myLineChart = new Chart(ctxD, {
                type: 'doughnut',
                data: {
                    //labels: ["Red", "Green", "Yellow", "Grey", "Dark Grey"],
                    datasets: [
                        {
                            data: [300, 50, 100, 40, 120],
                            backgroundColor: ["#F7464A", "#46BFBD", "#FDB45C", "#949FB1", "#4D5360"],
                            hoverBackgroundColor: ["#FF5A5E", "#5AD3D1", "#FFC870", "#A8B3C5", "#616774"]
                        }
                    ] 
                }, 
                options: {
                    responsive: true
                }    
            });
        },
        
        methods: {
            changePage(value) {
                this.$emit('setactivepage', value);
            },
        },
    };
</script>
