<template>
	<div class="category-holder container-fluid">
        <ul class="nav justify-content-center fixed-top bg-secondary py-3 z-depth-1">
          <li class="nav-item text-center text-white">
            <img src="/images/logo_single2.png" class="mb-3" />
            <!-- <h4>UB Express</h4> -->
            <br>
            <h5 class="mb-0">Select a Category</h5>
          </li>
        </ul>
        <div class="row">
            <div class="col-6 bg-cover d-flex justify-content-center align-items-center box" :class="selectedCategory ==  category.name ? 'active' : ''" @click="setCategory(category.name)" :style="'background: url(' + category.photo + ') no-repeat center center;'" v-for="category in categories">
                <div class="orange-overlay waves-effect waves-light"></div>
                <h3 class="text-white mb-0 text-center" v-text="category.name"></h3>
                <span class="fa fa-plus-circle"></span>
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        props: {
            categories: {
                type: Array,
                required: true,
            }, 

            activeCategory: {
                type: String,
                required: true,
            }
        },

        data() {
            return {
                selectedCategory: '', 
                
            };
        },

        mounted() {
            $('.box').height($('.box').width());

            $(window).resize(() => {
                $('.box').height($('.box').width());
            }).resize();

            this.selectedCategory = this.activeCategory; 
        },

        methods: {
        	changePage(page) {
        		this.$emit('setactivepage', page);
        	},

            setCategory(value) {
                this.selectedCategory = value;
                this.$emit('switchactivecategory', value);
                this.changePage('explorer');
            },


        },
    };
</script>