<template>
	<div class="h-100 w-100 d-flex align-items-center justify-content-center login bg-cover animated"  style="background: url('/images/bg.jpg') fixed no-repeat center center;">
        <!-- transparent-white  -->
        <div class="logo-holder text-center">
            <div class="p-4 transparent-white mb-4">
                <img src="images/logo.png" />
            </div>
            <button class="btn sign-up waves-effect waves-light" @click="changePage('login')">
                Start Investing
            </button>
        </div>
    </div>
</template>

<script>
    export default {
        methods: {
        	changePage(value) {
        		this.$emit('setactivepage', value);
        	},
        },
    };
</script>
